.portada_In
{
    border-radius: 20px;
}

.circunferencia
{
    border-radius: 360px;
}

.edit_1
{
    height: 150px;
    width: 350px;
    border-radius: 100px;
}  

.tabla_1{
    border-radius: 20px;
}