<!--MENU DESPLEGABLE-->
*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.navegacion ul{
    list-style: none;
}

.menu > li{
    position: relative;
    display:inline-block;
}


.menu > li > a{
    display:block;
    padding:0px 40px;
    color:#070707;
    font-family: 'Courier New', Courier, monospace;
    font-size:110%;
    text-decoration: none;
}
.menu li a:hover{
    background: #0618EC;
    color:#F1F1F1;
    transition: all.3s
}

/*submenu*/
.submenu{
    position:absolute;
    background: #0BADF8;
    width:120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu li a{
    display:block;
    padding: 10px;
    color:#070707;
    
    text-decoration: none;
}
.menu li:hover .submenu{
    color:#F1F1F1;
    visibility: visible;
    opacity:1;
}
.cabecera .logo
{
    display: inline-block;
    vertical-align: middle;
    border-radius: 50px;
    width: 150px;
    height: 100px;
}
.cabecera .contenedor
{
    display: flex;
    justify-content: space-between; /*Separa el menu del logo*/
    align-items: center;
}
.cabecera
{
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
.contenedor
{
    width: 950px;
    padding: 0 15PX 0 15PX;
    margin: 0 auto;
}
#texto1 .contenedor
{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}
.columna-100
{
    width: 90%;
}
.columna-25
{
    width: 25%;
}
.columna-50
{
    width: 40%;
}
.columna-25
{
    width: 25%;
}
.columna-img
{
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    vertical-align: top;
}
.fila
{
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
}
.fila-img
{
    margin-left: -10px;
    margin-right: -10px;
}
.columna-img
{
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    vertical-align: top;
}
.imagen-galeria
{
    width: 100%;
    height: 300px;
    display: block;  
}
.centrar-texto
{
    text-align: center;
}
.justificar-texto
{
    text-align: justify;
}
.derecha-texto
{
    text-align: center;
}
.columna-33
{
    width: 30%;
}
.icono
{
    color: azure;
    font-size: 30px;
}
